.profile__avatar {
  /* width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  border: none;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
} */
width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: auto auto 26px;
}
}