.popup__form {
    background-color: #fff;
    width: 430px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 36px 36px 36px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__form {
        width: 282px;
        max-height: 322px;
        padding: 25px 22px 25px 22px;
    }
    
}